<%= search_form_for @q do |f| %>

  <%= f.label :beer_name_cont %>
  <%= f.search_field :beer_name_cont, id:"search-field" %>

  <%= f.submit %>
<% end %>

<div class="recent_beer">

  <h2>
    My Beers
  </h2>



</div>
