<h1>
  Based on your preference of "<%= current_user.category_id %>", here are some suggestions you should try:
</h1>

<div>
  <h2> Based on Preference </h2>
  <% if @based_on_preference == nil %>
    <p>You have cleared this category, please try another?</p>
  <% else %>
    <p><%= @based_on_preference.name %></p>
    <img src="<%= @based_on_preference.image_thumb_url %>"></br>
  <% end %>
</div>
