<div>
    <h2 id="random_beer_notification">
      Feeling Lucky? Here's one on the house!
    </h2>
  <div id="random_beer_container">

    <div id="random_beer_default">
      <img src="http://68.media.tumblr.com/acf0658d2bb2e1414c474fd21f06f53f/tumblr_opugo1GTpi1tkwkuro1_250.jpg">
    </div>

  </div>

  <div class="box1">

  <div class="box2">
    <div id ="random_beer_info">
    </div>
  </div>

  <div class="box3">
    <div id="random_beer_title">
      <h2 >Name:</h2>
    </div>

    <div id="random_beer_style">
      <h3>Style:</h3>
    </div>

    <div id="random_beer_taste">
      <h3>Tasting Notes:</h3>
    </div>

    <div id="random_beer_link">
      <a href="#">Add to My Beers List</a>
    </div>

  </div>
</div>

<br>
<button type="button" id="randomize_button">Random Beer</button>

</div>
