<div>
  <h2 id="random_beer_notification">
    Feeling Lucky? Here's one on the house!
  </h2>
  <div id="random_beer_container">

  <div id="random_beer_info"></div>

  <button type="button" id="randomize_button">Random Beer</button>
</div>


</div>
