<a href="<%= beer_url(beer) %>">
  <div class="all-beers-list">
    <img src="<%= beer.image_thumb_url %>" alt="<%= beer.name %> Photo">
    <div class="beers-list-text display-none">
      <h2><%= beer.name %></h2>
    </div>
  </div>
</a>
