// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-grey: rgb(233, 231, 231);
$light-blue: rgba(216, 229, 231, 0.9);
$nav-bar-grey: rgba(209, 209, 209, 0.9);
$off-white: #f1f4f6;
$dark-blue: rgb(33, 171, 191);
$light-blue-star: rgb(157, 218, 207);

* { font-family: 'gilroy-light'; }

#hoptimal-logo {
  width: 40px;
  margin: 5px 20px;
}
#barMap{
}

.nav-item {
  padding: 0 25px;
}

.navbar {
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: $nav-bar-grey;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
}

.logged-in-nav, .logged-out-nav {
  display: inline-block;
  position: absolute;
  width: 100%;
  font-size: 1.5em;
}

//within logged in nav, navigation that appears on the right of the page
.nav-right {
  position: relative;
  float: right;
  right: 60px;
  display: inline-block;
}

//within logged in nav, navigation that appears on the left of the page
.nav-left {
  position: relative;
  float: left;
  display: inline-block;
}

//font awesome icons (within the navigation menu)
.logged-in-nav i.fa, .logged-out-nav i.fa {
  font-size: 1.2em;
  line-height: 120px;
  bottom: 2px;
  position: relative;
  color: black;
}

//change hover color of links within the navbar
div.logged-in-nav a:hover, div.logged-out-nav a:hover {
  color: $off-white;
}

//links within the navigation menu
a.nav-item {
  line-height: 100px;
  position: relative;
  top: 14px;
  right: 15px;
  color: black;
}

//div wrapping the content of the page (not including the navbar)
.main-content {
  position: relative;
  top: 110px;
}

div.all-beers-list img {
  width: 100%;
}
//
// .display-show {
//   display:inline;
// }

//class used to hide the overlay text of the beer names
.display-none {
  opacity: 0;
}

//div used to display search results
#search-beers {
  box-sizing: border-box;
  display: inline-block;
  width: 95%;
  text-align: center;
}

//beers displaying on the index page
.all-beers-list {
    display: inline-block;
    min-width: 240px;
    width: calc(24% - 10px);
    text-align: center;
    margin: 2px;
    position: relative;
    min-height: 400px;
}

//text that overlays the beers with the beer name
.beers-list-text > h2 {
  display: inline;
  background-color: rgba(130, 130, 130, 0.9);
  width: 100%;
  color: white;
  font-size: 2em;
  text-align: center;
  float: left;
  position: relative;
  bottom: 250px;
  padding: 25px 0;
  border-radius: 8px;
}


//navigation button on smaller screens
.toggle-nav {
  display: none;
}

// remove all tect decoration from links
  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

//styling for the pagination links at the bottom of the page
.pagination {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

//styling beers show page ---MARK----
.beer_show {
  width: 45%;
  margin: 40px;
  display: inline-block;
  font-size: 1.2em;
}
.beer_show > img{
  display: inline-block;
}

.beer_show_centered{
  width: 45%;
  margin-left: 27.5%;
  display: inline-block;
  font-size: 1.2em;
}

#foundBars{
  display: inline-block;
  vertical-align: middle;
  margin-left: 4%;
}
#barMap{
  width: 45%;
  display: inline-block;
  position: absolute;
  top: 8%;
}
.beer_note{
  display: block;
  clear: both;
  margin-bottom: 2%;
}

textarea#user_beer_note{
  width: 220px;
  vertical-align: middle;
}

// search bar styling
form {
  margin: 10px;
}
#beer_category_field {
  float: left;
  visibility: hidden;
}
#beer_search_field {
  float: right;
  visibility: hidden;
}
.fa.fa-search, .fa.fa-filter, .fa.fa-search-minus {
  font-size: 1.5em;
  visibility: visible;
  margin: 0 20px;
}
@media only screen and (max-width: 1023px) {
  #foundBars{
    margin-left: 0%;
  }
}
@media only screen and (max-device-width: 768px) {
  .beer_show {
    width: 90%;
    margin-left: 5%;
    display: block;
    font-size: 1.5em;
  }
  .beer_show_centered{
    width: 45%;
    margin-left: 27.5%;
    display: inline-block;
    font-size: 1.5em;
  }
  .form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
  }
  #barMap{
    width: 90%;
    margin: 5%;
    position: relative;
  }
  #foundBars{
    vertical-align: middle;
  }
}
@media only screen and (max-device-width: 414px) {
  .form{
    display: block;
    margin: auto;
  }
  .beer_show {
    width: 45%;
    margin-left: 27.5%;
    display: block;
    font-size: 1.5em;
  }
  .beer_show_centered{
    width: 45%;
    margin-left: 27.5%;
    display: block;
    font-size: 1.5em;
  }
}
// end of MARK

@media only screen and (max-width: 769px) {
  //class used to display/hide the mobile navigation menu
  .active {
    display: none;
  }

  //styling for the toggle navigation button
  a.toggle-nav {
    display: inline-block;
    font-size: 5em;
    padding-left: 10px;
    line-height: 100px;
    color: black;
    position: absolute;
    right: 40px;
  }

  img#hoptimal-logo {
    position: absolute;
  }

  //=== styling for the logged in nav ===
    //hide the fontawesome icons for the mobile navigation menu
    div.logged-in-nav i {
      display: none;
    }

    //
    div.logged-in-nav a {
      color: black;
      display: inline-block;
      line-height: 50px;
      width: 100%;
      border-top: 2px solid $off-white;
      margin-right: 0;
    }

    .logged-in-nav {
      box-sizing: border-box;
      width: 100%;
      background-color: $nav-bar-grey;
      text-align: right;
      top: 99px;
      // padding-bottom:30px;
    }

  //=== styling for the logged out nav ===
    //hide fontawesome icons for mobile nav
    div.logged-out-nav i {
      display: none;
    }

    //
    div.logged-out-nav a {
      color: black;
      display: inline-block;
      line-height: 50px;
      width: 100%;
      border-top: 2px solid $off-white;
      margin-right: 0;
    }

    .logged-out-nav {
      box-sizing: border-box;
      background-color: $nav-bar-grey;
      text-align: right;
      top: 99px;
      // padding-bottom:30px;
    }

  div.nav-left {
    float: right;
    padding: 0 20px;
    width: 100%;
  }

  div.nav-right {
    padding: 0 20px;
    top: 0;
    right: 0;
    float: right;
    clear: both;
    width: 100%;
  }

  a.nav-item {
    top: 0;
    right: 0;
    position:static;
  }


}


// ==== rating button styles ====
.star-rating {
  float: left;
}

.star-rating:not(:checked) > input {
    position:absolute;
    top:-9999px; /* positions radial buttons off the page */
    clip:rect(0,0,0,0); /* gets rid of radial buttons */
}

.star-rating:not(:checked) > label {
    float:right;
    color: $light-grey;
    padding: 0 .2em;
}

.star-rating > input:checked ~ label {
    color: $dark-blue;
}

.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: $light-blue-star;
}

.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
    color: $light-blue-star;
}

@media only screen and (max-width: 785px) {
  .display-none {
    opacity: 0.9;
  }

  .beers-list-text > h2 {
    bottom: 225px
  }
}

@media only screen and (max-width: 480px) {

  .all-beers-list {
    display: inline-block;
    width: calc(50% - 6px);
    min-height: 325px;
    height: 325px;
  }

  .beer_search label {
    clear: left;
  }
}

@media only screen and (max-width: 321px) {

  .all-beers-list {
    display: inline-block;
    width: 75%;
    height: 75%;
    margin: 0 auto;
  }

  .beers-list-text {
    z-index: 5;
    position: absolute;
    text-align: center;
    float: left;
    line-height: 100%;
    width: 100%;
  }

  .toggle-nav {
    line-height: 100%;
  }

}
