$light-grey: rgb(233, 231, 231);
$light-blue: rgba(216, 229, 231, 0.9);
$nav-bar-grey: rgba(209, 209, 209, 0.9);
$off-white: #f1f4f6;
$dark-blue: rgb(33, 171, 191);
$light-blue: rgb(157, 218, 207);

* { font-family: 'gilroy-light'; }

#hoptimal-logo {
  width: 40px;
  margin: 5px 20px;
}

#hoptimal-logo-full {
  display: none;
  height: 80px;
}

.nav-item {
  padding: 0 25px;
}

.navbar {
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: $nav-bar-grey;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
}

.logged-in-nav, .logged-out-nav {
  display: inline-block;
  position: absolute;
  width: 100%;
  font-size: 1.5em;
}

//within logged in nav, navigation that appears on the right of the page
.nav-right {
  position: relative;
  float: right;
  right: 60px;
  display: inline-block;
}

//within logged in nav, navigation that appears on the left of the page
.nav-left {
  position: relative;
  float: left;
  display: inline-block;
}

//font awesome icons (within the navigation menu)
.logged-in-nav i.fa, .logged-out-nav i.fa {
  font-size: 1.2em;
  line-height: 120px;
  bottom: 2px;
  position: relative;
  color: black;
}

//change hover color of links within the navbar
div.logged-in-nav a:hover, div.logged-out-nav a:hover {
  color: $off-white;
}

div.logged-out-nav a.nav-item {
  float: right;
  right: 90px;
}

//links within the navigation menu
a.nav-item {
  line-height: 100px;
  position: relative;
  top: 14px;
  right: 25px;
  color: black;
}

//div wrapping the content of the page (not including the navbar)
.main-content {
  position: relative;
  top: 110px;
}

//navigation button on smaller screens
.toggle-nav {
  display: none;
}

// remove all tect decoration from links
  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

//styling for the pagination links at the bottom of the page
.pagination {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}


// background for modal login/signup window
.modal-signup, .modal-login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
  z-index: 100;
}

// both login and signup forms
div.users-form {
  background: $light-grey;
  padding: 50px;
  padding-top: 30px;
  border-radius: 10px;
  border: 6px double white;
  position: absolute;
  left: 33%;
  top: 200px;
}

// title for the modal users form (signup vs login)
.users-form h3 {
  line-height: 1.7em;
}

// styling for submit button
input.btn.btn-default.btn-primary {
    text-align: center;
    padding: 6px 20px;
}

// selection drop down for choosing preference
select#_users_new_category_id {
  padding-right: 0;
  text-align: center;
}

@media only screen and (min-width: 1150px) {
  #hoptimal-logo {
    display: none;
  }

  #hoptimal-logo-full {
    display: inline-block;
    position: absolute;
    height: 60px;
    top: 20px;
    left: 20px;
    line-height: 100px;
  }

  //within logged in nav, navigation that appears on the right of the page
  .nav-right {
    position: relative;
    float: right;
    right: 0px;
    display: inline-block;
  }

  //within logged in nav, navigation that appears on the left of the page
  .nav-left {
    position: absolute;
    // float: right;
    right: 385px;
    display: inline-block;
  }
}

@media only screen and (max-width: 820px) {
  //class used to display/hide the mobile navigation menu
  .active {
    display: none;
  }

  //styling for the toggle navigation button
  a.toggle-nav {
    display: inline-block;
    font-size: 5em;
    padding-left: 10px;
    line-height: 100px;
    color: black;
    position: absolute;
    right: 20px;
  }

  .nav-item {
    padding: 0;
  }

//hoptimal logo (full text) appears when the full text menu gets too close together
  img#hoptimal-logo {
    position: absolute;
    display: none;
  }

  img#hoptimal-logo-full {
    display: inline-block;
    position: absolute;
    height: 60px;
    top: 20px;
    left: 20px;
    line-height: 100px;
  }

  //=== styling for the logged in nav ===
    //hide the fontawesome icons for the mobile navigation menu
    div.logged-in-nav i {
      display: none;
    }

    //
    div.logged-in-nav a {
      color: black;
      display: inline-block;
      line-height: 60px;
      width: 100%;
      border-top: 2px solid $off-white;
      margin-right: 0;
      font-size: 1em;
    }

    .logged-in-nav {
      box-sizing: border-box;
      width: 100%;
      background-color: $nav-bar-grey;
      text-align: right;
      top: 99px;
      // padding-bottom:30px;
    }

    div.logged-in-nav a:hover {
      color: $off-white;
    }

  //=== styling for the logged out nav ===
    //hide fontawesome icons for mobile nav
    div.logged-out-nav i {
      display: none;
    }

    //
    div.logged-out-nav a {
      color: black;
      display: inline-block;
      line-height: 60px;
      width: 100%;
      border-top: 2px solid $off-white;
      margin-right: 0;
      font-size: 1em;
    }

    .logged-out-nav {
      box-sizing: border-box;
      background-color: $nav-bar-grey;
      text-align: right;
      top: 99px;
      // padding-bottom:30px;
    }

    div.logged-out-nav a:hover {
      color: $off-white;
    }

  div.nav-left {
    float: right;
    padding: 0 20px;
    width: 100%;
  }

  div.nav-right {
    padding: 0 20px;
    top: 0;
    right: 0;
    float: right;
    clear: both;
    width: 100%;
  }

  a.nav-item {
    top: 0;
    right: 0;
    position:static;
  }
}

@media only screen and (max-width: 500px) {
  a.toggle-nav {
    line-height: 60px;
    font-size: 3em;
  }

  div.logged-in-nav a, div.logged-out-nav a  {
    line-height: 30px;
    border-top: 2px solid $off-white;
    font-size: 0.7em;
  }

  .logged-in-nav, .logged-out-nav {
    top: 59px;
  }

  .display-none {
    opacity: 0.9;
  }

  #hoptimal-logo {
    width: 23px;
    display: none;
  }

  img#hoptimal-logo-full {
    height: 40px;
    top: 10px;
    left: 10px;
  }

  .navbar {
    height: 60px;
  }

  .main-content {
    top: 65px;
  }

}
