// Place all the styles related to the UserBeers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey: rgb(233, 231, 231);
$light-blue: rgba(216, 229, 231, 0.9);
$nav-bar-grey: rgba(209, 209, 209, 0.9);
$off-white: #f1f4f6;
$dark-blue: rgb(33, 171, 191);
$light-blue-star: rgb(157, 218, 207);
$dark-grey: rgba(130, 130, 130, 0.9);

#search-beers-ub {
  width: 100%;
}

#search-beers-ub div.beer_consumed.user-beers-list {
    width: calc(23%);
    display: inline-block;
    min-width: 240px;
    padding: 0;
    margin: 0 3px;
    text-align: center;
    max-height: 400px;
}

.beer_info {
  background-color: $dark-grey;
  border-radius: 6px;
  padding: 3px 0;
  float: left;
  position: relative;
  bottom: 220px;
  text-align: center;
  width: 100%;
  margin: 0 3px;
  color: $off-white;
}

#search-beers-ub a {
  color: $off-white;
}

#search-beers-ub h3 {
  margin-top: 5px;
}

div.recent_beer.all-list {
  border: none;
  box-shadow: none;
}

.fa.fa-star {
  padding: 0 1px;
}
.beer_img{
  max-width: 100%;
}
.beer_img img{
  width: 100%;
}

//search form styling
form.user_beer_search_form {
  margin: 10px;
}
#user_beer_search_field {
  visibility: hidden;
  float: right;
}
.fa.fa-search, .fa.fa-filter, .fa.fa-search-minus {
  font-size: 1.5em;
  visibility: visible;
  margin: 0 20px;
}


//UserBeer Edit View
.ub_edit_image{
  width: 375px;
  margin: auto;
}

.beer_edit_image{
  width: 100%;
}

.user_beer_edit_view{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  left: 20%;
  right: 20%;
}

h2{
  text-align: center;
}

.ub_stars{
  display: flex;
  justify-content: center;
}

.user_beer_note{
  clear: both;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

label[for="user_beer_note"]{
    display:none;
}

.ub_button{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  #search-beers-ub {
    width: 100%;
  }

  #search-beers-ub div.beer_consumed.user-beers-list {
    width: calc(23% - 6px);
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  #search-beers-ub {
    width: 100%;
  }

  #search-beers-ub div.beer_consumed.user-beers-list {
    width: calc(45% - 6px);
    margin: 0 20px;
  }
}

@media only screen and (max-width: 820px) {
  #search-beers-ub {
    width: 100%;
  }

  #search-beers-ub div.beer_consumed.user-beers-list {
    width: 45%;
    margin: 0 3px;
    align-items: center;
  }

  .beer_info {
    margin: 0 28px;
    width: 80%;
  }
}
